.about-image {
  max-width: 400px;
  text-align: right;
  padding: 1.5rem;
  margin: 1rem 0;
  border: 2px solid #393939;
  border-radius: 8px;
  margin-left: 3rem;
}
.text {
  max-width: 400px;

  padding: 1.5rem;
  margin: 1rem 0;
  border: 2px solid #393939;
  border-radius: 8px;
  margin-left: 3rem;
  text-align: center;
}
.about-page {
  display: flex;
  gap: 5rem;
  padding: 2rem;
}

@media (max-width: 480) {
  .about-image {
    max-width: 500px;
    text-align: right;
    padding: 1.5rem;
    margin: 1rem 0;
    border: 2px solid #393939;
    border-radius: 8px;
    margin-left: 3rem;
  }
  .text {
    max-width: 500px;
    text-align: left;
    padding: 1.5rem;
    margin: 1rem 0;
    border: 2px solid #393939;
    border-radius: 8px;
    margin-left: 3rem;
  }
  .about-page {
    display: flex;
    gap: 5rem;
    padding: 2rem;
  }
}
@media (min-width: 481px) and(max-with:768px) {
  .about-image {
    max-width: 500px;
    text-align: right;
    padding: 1.5rem;
    margin: 1rem 0;
    border: 2px solid #393939;
    border-radius: 8px;
    margin-left: 3rem;
  }
  .text {
    max-width: 500px;
    text-align: left;
    padding: 1.5rem;
    margin: 1rem 0;
    border: 2px solid #393939;
    border-radius: 8px;
    margin-left: 3rem;
  }
  .about-page {
    display: flex;
    gap: 5rem;
    padding: 2rem;
  }
}
