.cards {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.title {
  text-align: center;
  color: rgb(5, 55, 18);
}
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  background-color: lightgray;
}
