.cards {
  display: flex;
  flex: 1;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
}
.title {
  text-align: center;
  color: rgb(202, 226, 150);
}
.app-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
}

body {
  background-color: light rgb(217, 161, 104);
}
.madeBy {
  text-align: center;
  font-style: italic;
  color: rgb(91, 92, 92);
}
