.card {
  background-color: rgb(197, 202, 197);
  width: 250px;
  padding: 16px;
  margin: 16 px;
  flex-direction: row-reverse;
  display: column;
  border: 20px;
  border-radius: 10px;
  text-align: center;
}

.images {
  width: 250px;
  height: 200px;
  margin: auto;
  border: 10px;
  border-radius: 80%;
}
.paragraph {
  color: rgb(18, 19, 18);
  border: 1px solid rgb(27, 66, 23);
  border-radius: 10px;
  padding: 8px;
  margin-top: 8px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.title {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(11, 230, 157);
}
.buttons {
  height: 30px;
  gap: 10px;
  align-items: center;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
  flex-direction: row-reverse;
  display: flex;

  text-align: center;
}
.contactDiv {
  text-align: center;
}

.header {
  border-color: black;
  background-color: darkgray;
  width: full;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
