.card {
  background-color: light gray;
  width: 250px;
  padding: 16px;
  margin: 16 px;
  flex-direction: row-reverse;
  display: column;
  border: 20px;
  border-radius: 10px;
  text-align: center;
}

.images {
  width: 500px;
  height: 230px;
  margin: auto;
  border: 10px;
  border-radius: 10px;
}
.paragraph {
  color: rgb(43, 39, 5);
  border: 2px solid rgb(73, 58, 3);
  border-radius: 10px;
  padding: 8px;
  margin-top: 8px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}
.title {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(68, 66, 66);
  border: 20px;
  border-radius: 20px;
}
.buttons {
  height: 30px;
  gap: 10px;
  align-items: center;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
  flex-direction: row-reverse;
  display: flex;

  text-align: center;
}
.contactDiv {
  text-align: center;
}

.header {
  border-color: #000000;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  background-color: light rgb(158, 153, 153);
  width: full;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-around;
}
@media (max-width: 480px) {
  .card {
    background-color: light gray;
    width: 250px;
    padding: 16px;
    margin: 16 px;
    flex-direction: row-reverse;
    display: column;
    border: 20px;
    border-radius: 10px;
    text-align: center;
  }

  .images {
    width: 500px;
    height: 230px;
    margin: auto;
    border: 10px;
    border-radius: 10px;
  }
  .paragraph {
    color: rgb(43, 39, 5);
    border: 2px solid rgb(73, 58, 3);
    border-radius: 10px;
    padding: 8px;
    margin-top: 8px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
  }
  .title {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(68, 66, 66);
    border: 20px;
    border-radius: 20px;
  }
  .buttons {
    height: 30px;
    gap: 10px;
    align-items: center;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    flex-direction: row-reverse;
    display: flex;

    text-align: center;
  }
  .contactDiv {
    text-align: center;
  }

  .header {
    border-color: #000000;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: light rgb(158, 153, 153);
    width: full;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
@media (min-width: 481px) and (max-width: 768px) {
  .card {
    background-color: light gray;
    width: 250px;
    padding: 16px;
    margin: 16 px;
    flex-direction: row-reverse;
    display: column;
    border: 20px;
    border-radius: 10px;
    text-align: center;
  }

  .images {
    width: 500px;
    height: 230px;
    margin: auto;
    border: 10px;
    border-radius: 10px;
  }
  .paragraph {
    color: rgb(43, 39, 5);
    border: 2px solid rgb(73, 58, 3);
    border-radius: 10px;
    padding: 8px;
    margin-top: 8px;
    text-align: center;
    font-family: "Times New Roman", Times, serif;
  }
  .title {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(68, 66, 66);
    border: 20px;
    border-radius: 20px;
  }
  .buttons {
    height: 30px;
    gap: 10px;
    align-items: center;
    padding-right: 20px;
    padding-top: 30px;
    padding-bottom: 10px;
    flex-direction: row-reverse;
    display: flex;

    text-align: center;
  }
  .contactDiv {
    text-align: center;
  }

  .header {
    border-color: #000000;
    font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
    background-color: light rgb(158, 153, 153);
    width: full;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-around;
  }
}
