.card {
  background-color: light gray;
  width: 250px;
  padding: 16px;
  margin: .5rem;
  flex-direction: row-reverse;
  display: column;
  border: 20px;
  border-radius: 10px;
  text-align: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  background-color: whitesmoke;
}

.images {
  width: 250px;
  height: 230px;
  margin: auto;
  border: 10px;
  border-radius: 10px;
}
.paragraph {
  color: rgb(43, 39, 5);
  padding: 8px;
  margin-top: 8px;
  text-align: center;
  font-family: "Times New Roman", Times, serif;
}

.description-box {
  margin: 10px;
  padding: 10px;
  background-color: rgb(203, 201, 201);
  border-radius: 10px;
  color: rgb(43, 39, 5);
  border: 2px solid rgb(73, 58, 3);
  text-align: center;
  font-family: "Times New Roman", Times, serif;
  height: 13rem;
  width: 14.375rem;
}
.title {
  font-family: Arial, Helvetica, sans-serif;
  color: rgb(68, 66, 66);
  border: 20px;
  border-radius: 20px;
}
.buttons {
  height: 30px;
  gap: 10px;
  align-items: center;
  padding-right: 20px;
  padding-top: 30px;
  padding-bottom: 10px;
  flex-direction: row-reverse;
  display: flex;

  text-align: center;
}
.contactDiv {
  text-align: center;
}
